{{#partial "content"}}
    <h1>What's on your mind...</h1>
    <form action="/new" method="post">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Entry" name="entry">
        <button>post</button>
        <br>
        <br>
        <a href="/">home page</a>
    </form>
{{/partial}}

{{> base.hbs}}